<!-- Offer Section -->
<section class="offer-section">

    <div class="container">
        <div class=" row justify-content-center">
    
            <div class="col-md-7 col-sm-12">
                <h2 style="">Stay up to date with the game</h2>
            </div>
            <div class="col-md-5 col-md-push-0 col-sm-8 col-sm-push-2 col-xs-10 col-xs-push-1">
              <a class="button-cta button-block" href="https://discord.gg/U7seSsFESW">Join our Discord <i class="fa-brands fa-discord"></i></a>
            </div>
        </div>
    </div>

</section>


