---
layout: default
body_classes: page-category
---

<div class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        {% include framework/heading.html
          title=page.title
          description=page.description
          image=page.image
          badge="category"
        %}
      </div>
    </div>
  </div>
</div>

<div class="section pt-0">
  <div class="container">
    {% assign category = page.title %}
    {% assign items = site.projects | concat: site.posts | sort: 'date' | reverse %}
    {% for post in items %}
      {% if post.categories contains category%}
        <div class="row">
          <div class="col-12 col-md-8 mb-2">
            {% include theme/cards/card-post.html
              title=post.title
              date=post.date
              description=post.description
              post_type=post.collection
              thumbnail=post.thumbnail
              url=post.url
              style="list"
            %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
